@page "/"

<h1 style="font-family:'Bookman Old Style'; font-size:x-large">Depreciation Calculator</h1>

<p style="font-family:'Bookman Old Style';font-size:large;text-align:center">Welcome to Depreciation Calculator</p>
<p style="font-family:'Bookman Old Style';font-size:large;text-align:center">You can select Straight Line Depreciation or Double Declining</p>

